:root{
  --color:#0499d4;
  --bdcolor:rgba(100,149,237,1);
  --smallsize:.65rem;
  --normalsize:.8rem;
  --largesize:1rem;
  --hugesize:1.1rem;
  --bigsize:1.5rem;
  --dangercolor:rgb(218, 25, 11);
  --mapcolor:rgb(20,92,228);
}
div{
  box-sizing: border-box;
}
img{
  vertical-align: bottom;
}
.wrapper{
  height:100%;
  width:100%;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  background: inherit;
  border:inherit;
  border-radius:inherit;
}
.relative{
  position:relative;
}
.flex{
    display:flex;
    flex-wrap: nowrap;
}
.flex-wrap{
    display:flex;
    flex-wrap: wrap;
}
.flex-between{
  display:flex;
  justify-content: space-between;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-cen{
    display: flex;
    justify-content: center;
}
.flex-ter{
  display: flex;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.right-top{
  position: absolute;
  right:0;
  top:0;
}
.right-bottom{
  position: absolute;
  right:0;
  bottom:0;
}
.center-bottom{
  position: absolute;
  bottom:0;
}
.shadow{
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}
.shadow-top{
  box-shadow: 0 -2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}
.shadow-bottom{
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .2)
}
.font-color{
  color:var(--color)
}
.rotate-reverse{
  transform: rotate(180deg);
}
.hordivider,.verdivider{
  position:relative;
}
.hordivider.all:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #f2f2f2;
  transform: scaleY(0.5);
}
.hordivider:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #f2f2f2;
  transform: scaleY(0.5);
}
.verdivider:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: #ccc;
  transform: scaleX(0.5);
}
.title{
  padding-left:5px;
  height:30px;
  line-height: 30px;
  font-size:1rem;
  font-weight: 600;
}
.gap{
  width:100%;
  height:10px;
  background:#f2f2f2;
}
::-webkit-scrollbar {
  display: none;
}
/* swiper */
.swiper-container{
  overflow:hidden;
}
.swiper-wrapper{
  height:100%;
  width:100%;
  display: flex;
}
.swiper-wrapper.vertical{
  flex-direction: column;
}
.swiper-wrapper>.swiper-slide{
  width:100%;
  height:100%;
  flex-shrink: 0
}
.swiper-scrollbar>.swiper-scrollbar-drag{
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0,0,0,.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}
/* ElementUI */
.liti-button{
  box-shadow:0 2px 3px 1px rgba(0,0,0,.2),0 -1px 6px 3px rgba(0,0,0,.1);
}
/* .el-button{
  font-size:1rem;
} */
.el-input--prefix .el-input__inner{
    padding-left: 2rem;
  }
  .el-input--suffix .el-input__inner{
    padding-right: 2rem;
  }
  .el-input__icon{
    line-height: 2.6rem;
    font-size:1.2rem;
    color:#3a8ee6;
  }
  .el-input .el-input__clear{
    line-height: 2.6rem;
    font-size:1.2rem;
  }
.el-message-box{
  max-width:80vw;
  padding:none;
}
.el-message-box__header{
  display: none;
}
.el-message-box__content{
  font-size:var(--normalsize);
  text-align: center;
  padding:20px;
}
.el-message-box__btns{
  display: flex;
  flex-wrap: nowrap;
}
.el-message-box__btns>button{
  flex:1;
  font-size:var(--normalsize)
}
.el-message{
    top:30px !important;
    z-index: 2000;
    width: 80vw;
    min-width: 80vw;
    font-weight: 400;
    background:#fff;
    padding:10px;
    text-align:center;
}
.notify{
  width:80%;
}
.el-notification__title{
  font-size:var(--normalsize);
  font-weight:600;
}
.el-notification__content{
  background:#fefefe;
  padding:3px 10px;
  font-weight:normal;
  border-radius:5px;
  transform: translateX(-10px);
}
.el-divider__text{
  font-size:var(--smallsize);
  color:#777;
}

